@import "./mixin.scss";
body {
  @include size(100%);
  margin: 0 auto;
  padding: 0;
  background: #1b2631;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.name_task {
  color: white;
  text-align: center;
}
