@import "./mixin.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  @include size(100%);
  margin: 0 auto;
  padding: 0;
  background: #1b2631;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: all 350ms linear;
}

.name_caption {
  color: white;
  text-align: center;
  padding: 25px;
  margin: 0;
}

.main {
  margin: 0 auto;
  @include size(100vw, 100vh);
  transition: all 350ms linear;
}

.work-space {
  @include size(100vw, 100vh);
  @include flex(center, center);
  margin: 0 auto;
}
