@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
@mixin flex($justify: normal, $align: normal, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
@mixin position(
  $position,
  $top: initial,
  $bottom: initial,
  $left: initial,
  $right: initial
) {
  position: $position;
  top: $top;
  bottom: $bottom;
  left: $left;
  right: $right;
}

@mixin font(
  $font-family: sans-serif,
  $font-size,
  $font-weight,
  $text-decoration: none
) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  text-decoration: $text-decoration;
}

@mixin layers(
  $background-image,
  $z-index,
  $right: initial,
  $left: initial,
  $rotate: initial,
  $scale: initial
) {
  background-image: $background-image;
  z-index: $z-index;
  right: $right;
  left: $left;
  rotate: $rotate;
  scale: $scale;
}
